* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 160px;
}

.container {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 10px;
    padding: 20px 10px 40px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0.1px #a0517863;
}

.container {
    position: relative;
    border: 2px solid transparent;
    border-radius: 30px;

    background-image: linear-gradient(#ffffff, #ffffff),
        linear-gradient(90deg, #ff0080 5%, #6d6d6d00 30%, #8b31face 5%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 400% 100%;
    animation: animated-border 4s linear infinite;
    -webkit-animation: animated-border 4s linear infinite;
}

@keyframes animated-border {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 400% 0%;
    }
}

.logo {
    text-align: center;
    padding: 30px 0 20px 0;
}

.gradient-text {
    font-size: 70px;
    background: linear-gradient(to right, #ff379bd3, #8b31face);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

@media (max-width:318px) {
    .gradient-text {
        font-size: 50px;
    }
}


.all_fields {
    width: 100%;
}


.fields,
.name {
    margin: 20px 10px;
}

.field {
    margin-bottom: 10px;
}

label {
    margin-left: 10px;
    font-size: 18px;
}


.fields input,
.name input {
    width: 100%;
    margin-top: 5px;
    padding: 18px;
    border-radius: 10px;
    font-size: 17px;
    border: 2px solid #cc719e9d;
    outline: none;
}

.field>input:focus,
.name>input:focus {
    border: 2px solid #853ddfd7;
}
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}


.toggle-icon {
    position: absolute;
    top: 26px;
    right: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    width: 20px;
    display: flex;
    justify-content: center;
}
.show {
    display: inline;
}

.hide {
    display: none;
}




.all_fields .forgotten {
    margin: 10px;
    padding-top: 10px;
}

.forgotten a {
    text-decoration: none;
    color: #b018ec;
}


label span {
    margin: 5px;
    color: #ff0080;
}


.submit input {
    width: 100%;
    padding: 18px;
    border-radius: 10px;
    border: none;
}

.submit input {
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(130deg, #ff4da6, #9b59b6);
}

.submit input:hover {
    transform: scale(1.02);
    transition: 0.3s;
    background: linear-gradient(130deg, #9b59b6, #ff4da6);
}



.errorMsg {
    height: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #f72c41;
    padding: 10px;
    overflow: hidden;

}

.errorMsg.show {
    opacity: 1;
}


.none {
    display: none;
}

.user-details-box {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px #aaa;
    z-index: 999;
    min-width: 200px;
}